services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
    - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: go-app
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: "redis:latest"
    container_name: redis
    ports:
    - "6379:6379"
    networks:
    - app-network
    volumes:
    - redis-data:/data

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
    - MINIO_ROOT_USER=admin
    - MINIO_ROOT_PASSWORD=miniosecret
    ports:
    - '9000:9000'
    - '9001:9001'
    volumes:
    - minio-data:/data
    networks:
    - app-network

  asynqmon:
    image: hibiken/asynqmon:latest
    platform: linux/amd64
    container_name: asynqmon
    environment:
    - REDIS_ADDR=redis:6379
    ports:
    - "8085:8080"
    depends_on:
    - redis
    networks:
    - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: {}
  redis-data: {}
  minio-data: {}
