services:
  backend_blue:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    image: backend:1.0.0
    container_name: backend_blue
    ports:
      - "4001:4000"
    environment:
      NODE_ENV: production
    # depends_on:
    #   - postgres
    #   - redis
    restart: always
    profiles: ["prod"]
    stop_grace_period: 30s
    command: sh -c "./myapp migrate up && ./myapp server"
    volumes:
      - ./.env.prod:/app/.env:ro
      - ./logs:/app/logs

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Set the admin password here
    depends_on:
      - prometheus
      - loki
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./deploy/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    environment:
      - PROMETHEUS_STORAGE_LOCAL_PATH=/prometheus
    restart: always

  loki:
    image: grafana/loki:3.4.1
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./deploy/monitoring/loki/loki-config.yml:/mnt/config/loki-config.yml # <local-path> → ./config
    command: --config.file=/mnt/config/loki-config.yml
    restart: always

  promtail:
    image: grafana/promtail:3.4.1
    container_name: promtail
    depends_on:
      - loki
    volumes:
      - ./deploy/monitoring/promtail/promtail-config.yml:/mnt/config/promtail-config.yml # <local-path> → same local path
      - ./logs:/var/log
    command: --config.file=/mnt/config/promtail-config.yml
    restart: always

  node_exporter:
    image: prom/node-exporter
    container_name: node_exporter
    ports:
      - "9100:9100"
    restart: always

  rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - rustfs_data:/data
    restart: always

  asynqmon:
    image: hibiken/asynqmon:latest
    platform: linux/amd64
    container_name: asynqmon
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "8085:8080"
    depends_on:
      - redis
    restart: always

volumes:
  postgres_data:
  redis_data:
  prometheus_data:
  grafana_data:
  rustfs_data:
