services:
  myapp:
    build:
      context: .
      dockerfile: Dockerfile
    image: myapp:latest
    container_name: myapp
    ports:
      - "4000:4000"
    volumes:
      - ./.env.prod:/app/.env:ro
      - ./logs:/app/logs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  worker:
    image: myapp:latest
    container_name: myapp-worker
    command: ["worker"]
    volumes:
      - ./.env.prod:/app/.env:ro
      - ./logs:/app/logs
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./infra/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    environment:
      - PROMETHEUS_STORAGE_LOCAL_PATH=/prometheus
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Set the admin password here
    depends_on:
      - prometheus
      - loki
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana

  loki:
    image: grafana/loki:3.4.1
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./infra/monitoring/loki/loki-config.yml:/mnt/config/loki-config.yml # <local-path> → ./config
    command: --config.file=/mnt/config/loki-config.yml
    restart: unless-stopped

  promtail:
    image: grafana/promtail:3.4.1
    container_name: promtail
    depends_on:
      - loki
    volumes:
      - ./infra/monitoring/promtail/promtail-config.yml:/mnt/config/promtail-config.yml # <local-path> → same local path
      - ./logs:/var/log
    command: --config.file=/mnt/config/promtail-config.yml
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter
    container_name: node_exporter
    ports:
      - "9100:9100"
    restart: unless-stopped

  redis_exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis_exporter
    ports:
      - "9121:9121"
    environment:
      REDIS_ADDR: redis:6379
    # depends_on:
    #   - redis
    restart: unless-stopped

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    ports:
      - "9187:9187"
    environment:
      DATA_SOURCE_NAME: "postgresql://exporter:strong-password@postgres:5432/testdemo?sslmode=disable"
    # depends_on:
    #   - postgres
    restart: unless-stopped

  rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - rustfs_data:/data
    restart: unless-stopped

  databasus:
    container_name: databasus
    image: databasus/databasus:latest
    ports:
      - "4005:4005"
    volumes:
      - databasus_data:/databasus-data
    restart: unless-stopped

volumes:
  postgres_data:
  prometheus_data:
  grafana_data:
  rustfs_data:
  databasus_data:
